.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF7E3;
    padding: 20px;
    border-radius: 50px;
}

.nav-item, .nav-logo {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #F3DF85;
    border-radius: 20px;
    text-decoration: none;
    color: #612407;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3DF85;
    
}

.nav-logo img {
    height: 30px;
    margin-right: 10px;
}
